html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
  
}

body {
    margin-bottom: 60px;
    color: white;
    background-color: #282828;
}

div {
    color: white;
    background-color: #282828;
}

head{
    background-color:black;
}

.genCard {
    background-color: darkslategray; margin: 20px; padding: 30px; border-radius:15px;
}

.nav-link{
    border-radius: 3px;
    background-color:#282828;
}

    .nav-link:hover {
        border-radius: 13px;
        background-color: dimgray;
    }
