@model TypeViewModel
@{
    Layout = "_Layout";
}

<h2>Please, enter yr query in the search line</h2>

@foreach (var type in Model.Types)
{
    <div class="genCard"  >
        <h1>Type: @type.Type</h1>

        <p>
            ID: @type.Id <br />
        </p>
    </div>
}

