@model AccountViewModel
@{
    Layout = "_Layout";
}

@foreach (var account in Model.Accounts)
{
    <div class="animalCard" style="background-color: aquamarine; margin-bottom: 20px; padding: 30px; border-radius:15px;">
        <h1>@account.FirstName</h1>

        <p>
            @account.LastName <br /> @account.Id <br /> @account.Email
        </p>
    </div>
}

