@model AccountViewModel
@{
    Layout = "_Layout";
}


@foreach (var account in Model.Accounts)
{
    <div class="genCard"  >
        <h1>@account.LastName, @account.FirstName</h1>

        <p>
            ID: @account.Id <br />
            Email: @account.Email <br />
        </p>
    </div>
}