@model RegistrationViewModel
@{
    Layout = "_Layout";
}

<form asp-controller="Account" asp-action="Registration">
    <div class="col-6 col-12-mobilep">
		<input type="text" name="firstName" id="firstName" placeholder="Name" asp-for="FirstName"/>
	</div>

	<div class="col-6 col-12-mobilep">
		<input type="text" name="secondName" id="secondName" placeholder="Name" asp-for="SecondName"/>
	</div>

	<div class="col-12">
		<textarea name="text" name="email" placeholder="Email" asp-for="Email"></textarea>
	</div>

	<div class="col-12">
		<textarea name="text" name="password" placeholder="Password" asp-for="Password"></textarea>
	</div>

	<div class="col-12">
		<ul class="actions">
			<li><input type="submit" class="button alt" value="Send Message" /></li>
		</ul>
	</div>
</form>
