@model PointViewModel
@{
    Layout = "_Layout";
}


<h2>Please, enter yr query in the search line</h2>

@foreach (var point in Model.Points)
{
<<<<<<<< HEAD:RESTful API Olymp/Views/Home/Points.cshtml
    <div class="animalCard" style="background-color: aquamarine; margin: 20px; padding: 30px; border-radius:15px;">
        <h1>@point.Id</h1>

========
    <div class="genCard"  >
        <h1>Точка локации животного</h1>
>>>>>>>> auth:RESTful API Olymp/Views/LocationPoint/Locations.cshtml
        <p>
            ID: @point.latitude <br />
            Email: @point.longitude <br />
        </p>
        <button asp-controller="LocationPoint" asp-action="locations"></button>
    </div>
}
