@model PointViewModel
@{
    Layout = "_Layout";
}

<h2>Please, enter yr query in the search line</h2>

@foreach (var point in Model.Points)
{
    <div class="genCard"  >
        <h1>Точка локации животного</h1>
        <p>
            ID: @point.Id <br />
            latitude: @point.latitude <br />
            longitude: @point.longitude <br />
        </p>
        <button asp-controller="LocationPoint" asp-action="locations"></button>
    </div>
}

